:root {
  --clr-primary: #0a2647;
  --clr-secondary: #1e444f;
  --clr-third: #999;

  --clr-accent-1: #f97316;
  --clr-accent-2: #dddddd;
}

/* === Global Style === */

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: var(--clr-primary);
  text-decoration: none;
}

li {
  list-style-type: none;
}

iconify-icon {
  font-size: clamp(0.4rem, 1.6vw, 2.3rem);
  cursor: pointer;
}

.contact,
.btn {
  cursor: pointer;
}

html {
  font-family: inter, sans-serif;
  font-size: clamp(0.4rem, 1.3vw, 2rem);
}

/* === STYLE === */

/* === Landing Page === */

.navbar__container {
  padding: 1.6em 4.5em;
}

.navbar__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: clamp(0.3rem, 1vw, 1.4rem);
  padding-bottom: 0.7em;
  border-bottom: 1px solid var(--clr-accent-2);
}

.contact__container {
  display: flex;
  align-items: center;
  gap: 1em;
}

.contact {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.contact > p {
  font-size: clamp(0.3rem, 1vw, 1.4rem);
  color: var(--clr-primary);
}

.sosmed {
  display: flex;
  gap: 1em;
}

.navbar__bottom {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 1em;
}

.logo {
  font-weight: 600;
  font-size: clamp(0.8rem, 2.3vw, 3rem);
  color: var(--clr-primary);
}

.menu {
  display: flex;
  gap: 2em;
  font-weight: 300;
}

.menu li a {
  color: #999;
}

.buttons {
  display: flex;
  gap: 2em;
}

.sign_in {
  font-size: clamp(0.4rem, 1vw, 2rem);
  background-color: transparent;
  color: var(--clr-accent-1);
  border: none;
  text-decoration: underline;
}

.sign_up {
  font-size: clamp(0.4rem, 1vw, 2rem);
  background-color: var(--clr-accent-1);
  padding: 0.7em 1em;
  border: none;
  border-radius: 2em;
  color: white;
}

.hero__content {
  padding: 1em 2.8em 0;
}

.hero {
  display: flex;
  justify-content: space-between;
  gap: 2em;
}

.title__section {
  flex: 0.9;
}
.ornament {
  flex: 1.1;
}

.title {
  color: var(--clr-primary);
  font-size: clamp(1rem, 5vw, 5rem);
  text-transform: capitalize;
}

.tagline {
  font-size: clamp(0.4rem, 1.3vw, 2rem);
  color: var(--clr-third);
  margin: 1.5em 0;
}

.ornament {
  width: 100%;
}

.ornament img {
  border-radius: 2.5em;
  width: 100%;
}

.explore,
.watch_video {
  padding: 0.3em 1em;
  border-radius: 2em;
}

.explore {
  font-size: clamp(0.4rem, 1.27vw, 2rem);
  border: 1.2px solid var(--clr-primary);
  background-color: transparent;
  color: var(--clr-primary);
}

.watch_video {
  display: flex;
  align-items: center;
  gap: 0.6em;
  background-color: transparent;
  border: none;
  color: var(--clr-third);
}

.watch_video iconify-icon {
  font-size: clamp(0.6rem, 1.7vw, 2rem);
  border-radius: 50%;
  padding: 5px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.13);
}

.watch_video p {
  font-size: clamp(0.4rem, 1.27vw, 2rem);
}

.features__container {
  font-size: clamp(0.4rem, 1.27vw, 2rem);
  display: flex;
  align-items: center;
  gap: 3em;
  background-color: white;
  width: fit-content;
  border-radius: 3em;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.13);
  padding: 1.3em 2em;
  margin-top: clamp(-4em, -3em, 2em);
  position: relative;
  z-index: 1;
}

.feature_item:nth-child(4) {
  position: relative;
}

.feature_item:nth-child(4):before {
  content: "";
  position: absolute;
  left: -1.5em;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: var(--clr-accent-2);
}

.feature_title {
  font-size: clamp(0.4rem, 1.27vw, 2rem);
  font-weight: 500;
  color: var(--clr-third);
  margin-bottom: 0.3em;
}

.feature_description {
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-size: clamp(0.3rem, 1vw, 1.4rem);
  color: var(--clr-third);
}

.feature_item .btn {
  font-size: clamp(0.4rem, 1.15vw, 2rem);
  padding: 0.7em 1.3em;
  border: 1px solid var(--clr-primary);
  border-radius: 2em;
  background-color: transparent;
}

.brands__container {
  font-size: clamp(0.6rem, 1.23vw, 2.4rem);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4em;
  color: var(--clr-third);
  margin: 3.3em 0 5em;
}

/* === Category Section === */

.category__section {
  font-size: clamp(0.4rem, 1.3vw, 2rem);
  display: grid;
  grid-template-columns: 30% 30% 30%;
  justify-content: space-between;
  padding: 1.6em 4.5em;
}

.category__card {
  height: 11.25em;
  display: flex;
  align-items: center;
  background-color: red;
  position: relative;
  padding: 1em;
  overflow: hidden;
}

.category {
  position: relative;
  z-index: 1;
}

.category_img {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.category_name {
  font-size: clamp(0.4rem, 1.5vw, 2rem);
  margin-bottom: 0.8em;
}
